body {
    /* Set line height to 1.5 times the font size
                and use the OS's UI font as the website font
                */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 3ch;
}
.profile-photo {
    /* Resize profile photo
    */
    display: block;
    width: 200px;
    max-width: 80%;
    height: auto;
}
ul {display: contents;}
li {display: contents;}
nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}
nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}
nav a.current {
    font-weight: bold;
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}
:root {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
}
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: oklch(from var(--color-accent) 95% 5% h);
}
input, textarea, button {
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
label {
    display: block;
    margin-block: 0.5em;
}