body {
    /* Set line height to 1.5 times the font size
                and use the OS's UI font as the website font
                */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 3ch;
}
.profile-photo {
    /* Resize profile photo
    */
    display: block;
    width: 200px;
    max-width: 80%;
    height: auto;
}
ul {display: contents;}
li {display: contents;}
nav {
    display: flex;
    margin-bottom: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}
nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}
nav a.current {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0.4em;
    border-color: oklch(80% 3% 200);
    padding-bottom: 0%;
}

